body{
    
    
    margin-left:380px ;
    margin-right: 320px;
    position: fixed;
    background-color: black;
   
  
    
    
}
.wed{
    text-align: center;
    text-decoration: underline;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
}
#wed2{
    display: flex;
    justify-content: center;
   align-items: center;
   gap: 30px;
   
}
.wed4{
    border: solid 1px;
   
    padding: 25px;
    margin-left:20px ;
    padding-left:15px ;
    padding-right:45px ;
    padding-top: 8px;
    font-size: 15px;
    position: relative;
    bottom: 10px;
    padding-bottom:77px ;
    background-color: rgb(240, 215, 77);
   

}
.wed5{
    display: flex;
    justify-content: center;
    gap: 30px;
     

}
.wed6{
    position: relative;
    left: 20px;
  
}
.wed7{
    border: solid 1px;
    padding-left: 10px;
    padding-right: 200px;
    font-size: larger;
    border-radius: 15px;
    background-color:rgb(255, 115, 0);

}
.wed8{
    position: relative;
    left: 30px;
    bottom: 33px;
}
.wed9{
    position: relative;
    right: 110px;
}
.linear{
    background: linear-gradient(rgb(250, 39, 39), rgb(240, 19, 140));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
   padding-left: 30px;
   padding-right: 50px;
   padding-top: 5px;
   padding-bottom: 30px;
   border: solid 4px;
   border-radius: 20px;
   background-image: url;
}